// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-app.md, .ios, .wp {
  background-color: #2d2d2d !important;
}

ion-content {
  --ion-background-color: #2d2d2d;
}

.tabs-md .tabbar, .toolbar-md, .toolbar-title-md, .content-md, .item-md, .toolbar-title-md, .header-md, .item-md, .toolbar-title-md {
  background: #2d2d2d !important;
  color: #f1f1f1;
  --ion-background-color: #2d2d2d;
}

:root {
  /* These examples use the same color: sienna. */
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255, 255, 255;

  /* These examples use the same color: lightsteelblue. */
  --ion-background-color: #2d2d2d;
}
